body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f8f6;
    color: #333;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f7a57;
    color: white;
    padding: 15px 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */
.hero {
    text-align: center;
    padding: 70px 20px;
    background: linear-gradient(to right, #2e8b57, #1f7a57);
    color: white;
}

.hero h2 {
    font-size: 36px;
}

/* SECTIONS */
.section {
    padding: 50px 40px;
}

.section h2 {
    text-align: center;
    color: #1f7a57;
}

/* CARDS */
.cards {
    display: flex;
    gap: 25px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card h3 {
    color: #1f7a57;
}

.card ul {
    padding-left: 18px;
}

/* TECHNOLOGY */
.light {
    background: #eaf4ef;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
}

.tech div {
    background: white;
    padding: 15px 25px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* TEAM */
.team {
    list-style: none;
    text-align: center;
    padding: 0;
    font-size: 18px;
}

.footer-note {
    text-align: center;
    font-style: italic;
}

/* FOOTER */
footer {
    background: #1f7a57;
    color: white;
    text-align: center;
    padding: 15px;
}
